@font-face {
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Cerebri Sans'), url('https://fonts.cdnfonts.com/s/57898/Cerebri Sans Book.woff') format('woff');
}
@font-face {
    font-family: 'Cerebri Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Cerebri Sans'), url('https://fonts.cdnfonts.com/s/57898/Cerebri Sans Book Italic.woff') format('woff');
}
@font-face {
    font-family: 'Cerebri Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Cerebri Sans'), url('https://fonts.cdnfonts.com/s/57898/Cerebri Sans Italic.woff') format('woff');
}
@font-face {
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Cerebri Sans'), url('https://fonts.cdnfonts.com/s/57898/Cerebri Sans SemiBold.woff') format('woff');
}
@font-face {
    font-family: 'Cerebri Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Cerebri Sans'), url('https://fonts.cdnfonts.com/s/57898/Cerebri Sans SemiBold Italic.woff') format('woff');
}
@font-face {
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Cerebri Sans'), url('https://fonts.cdnfonts.com/s/57898/Cerebri Sans Bold.woff') format('woff');
}
@font-face {
    font-family: 'Cerebri Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Cerebri Sans'), url('https://fonts.cdnfonts.com/s/57898/Cerebri Sans Bold Italic.woff') format('woff');
}
@font-face {
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Cerebri Sans'), url('https://fonts.cdnfonts.com/s/57898/Cerebri Sans ExtraBold.woff') format('woff');
}
@font-face {
    font-family: 'Cerebri Sans';
    font-style: italic;
    font-weight: 800;
    src: local('Cerebri Sans'), url('https://fonts.cdnfonts.com/s/57898/Cerebri Sans ExtraBold Italic.woff') format('woff');
}
@font-face {
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 900;
    src: local('Cerebri Sans'), url('https://fonts.cdnfonts.com/s/57898/Cerebri Sans Heavy.woff') format('woff');
}

html {
    margin: 0;
}

body {
    margin:0 auto;
    background-color: black;
}